.App {
  display: flex;
  text-align: center;
}
.avatar-picker {
  width: 280px;
  display: flex;
  flex-direction: column;
}
.avatar-list-container {
  background-color: rgb(44, 48, 51);
  width: 280px;
  border-radius: 2px;
}
.avatar-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: auto;
}
.choose-avatar-text {
  color: rgb(249, 249, 249);
  font-size: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
}
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: .2s ease;
}
.selectedContainer {
  width: 280px;
}
.selected:hover {
  border: 1px solid rgb(155, 160, 163);
}
.list-item:hover {
  border: 3px solid rgb(155, 160, 163);
  opacity: 0.2;
}
